.grid{
    .root {
        flex-grow: 1;
        margin-top: 40px;
    }
    .title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-weight: bold;
    }
    .favBtn {
      position: absolute;
      color: #fff;
      right: 0
    }
    .media {
      height: 0;
      padding-top: 56.25%;
    }
    .card {
      position: relative;
    }
    .numerical-inline{
      display: inline;
    }
    .no-videos{
      text-align: center;
    }
}